/* css
1. CSS stands for Cascading Style Sheets
2. Cascade refers to how CSS applies one style on top of another
3. We create selectors in CSS to choose HTML elements we want
to style
4. Once we have a selector created we can add property and value
pairs to the selector to change how the elements chosen look.
*/

/* CSS PROPERTIES */
/* background-color  */
/* border */
/* color */
/* display */
/* height */
/* float */
/* font-size */
/* margin */
/* padding */
/* text-decoration */
/* text-transform */
/* width */

.wrapper {
  background-color: tomato;
  border: 20px solid black;
  color: white;
  padding: 50px;
  margin: 50px;
}

body {
  margin: 0;
}

h1, h2 {
  margin-top: 0;
  font-size: 70px;
  text-transform: uppercase;
}

a {
  color: black;
  text-decoration: underline;
}

.main {
width: 70%;
}

.sidebar {
width: 30%
}

.main, .sidebar{
  float: left;
  height: 500px;
}
